.whole-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.flex-section {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
